* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #0084f7;
    --cor2: #0466bd;
}

body {
    background-color: #ede;
}

header {
    background-color: var(--cor1);
    padding: 16px 80px;

    & .pesquisar {
        position: relative;


        & input {
            width: 500px;
            height: 46px;
            border-radius: 5px;
            padding-left: 10px;

            &:focus+h6 {
                color: black;
                top: 5px;
                transform: translateY(0);
                font-size: 12px;
            }
        }

        & h6 {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            font-size: 16px;
            color: #999;
            font-weight: normal;
            transition-duration: .2s;
        }
    }
}

main {
    padding: 50px 80px;

    & h3 {
        font-size: 36px;
        margin-bottom: 36px;
        color: #232323;
        display: flex;
        justify-content: space-between;

        & button {
            background-color: var(--cor1);
            height: 46px;
            padding: 0px 26px;
            border-radius: 10px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bolder;

            &:hover {
                background-color: var(--cor2);
            }
        }
    }

    & ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;

        & li {
            background-color: white;
            padding: 16px;
            box-shadow: 0px 5px 10px #00000015;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & div {
                & h5 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                & p {
                    color: #777;
                }
            }

            & div:nth-child(2) {
                text-align: right;

                & box-icon:hover {
                    fill: rgb(255, 0, 0);
                    cursor: pointer;
                }
            }
        }
    }
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .2s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    &.modalon{
        opacity: 1;
        visibility: visible;
    }
    

    & form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        & label {
            padding: 10px 0px;
        }
        & input{
            background-color: #ccc9c9;
            color: black;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0);
            width: 100%;
        }
        & textarea{
            padding: 10px;
            background-color: #ccc9c9;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0);
        }
        & button{
            padding: 10px;
            border-radius: 10px;
            background-color: var(--cor1);
            color: white;
            transition: .2s;
            cursor: pointer;
            &:hover{
                background-color: var(--cor2);
            }
        }
        & h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & box-icon {
                cursor: pointer;
                &:hover {
                    fill: red;
                }
            }
        }
    }
}